<div class= "p-3">
  <h1 class="font-bold mb-3">ABOUT</h1>
  <div>
<p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  Perspiciatis enim, beatae doloribus neque provident, 
  error eaque itaque sint quidem eveniet excepturi id. 
  Placeat aut dolor </p>
  </div>
  <div>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
   Quo reprehenderit sint beatae cum ipsum consequuntur 
   enim pariatur modi fugiat quam minus assumenda reiciendis 
   modi fugiat quam minus assumenda reiciendis 
   <a class="text-blue-500" href="">Learn More</a>
</p>
  </div>
</div>
